body {
  background-image: url('../images/background-light.png');
  margin: 0;
  padding: 0;
}

.wrapper {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.navigation {
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: url('../images/background-dark.png');
  text-align: center;
}
.navigation .tab {
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: #cccccc;
  font-size: 20px;
}
.navigation .tab.hover {
  color: #ffffff;
  text-shadow: 0 0 3px #cccccc;
}
.navigation .tab.active {
  color: #333333;
  background-image: url('../images/background-light.png');
  cursor: auto;
}
.content-wrapper {
  padding: 10px 20px;
}
.content {
  display: none;
}
.content.active {
  display: block;
}
.generate-options {
  float: left;
}
.wordlist-description {
  color: #666666;
  font-style: italic;
  font-size: 14px;
  text-align: right;
}
.passphrase {
  margin: 20px 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #999999;
}
.buttons {
  text-align: center;
}
.btn {
  display: inline-block;
  cursor: pointer;
  margin: 5px 10px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
