body {
  background-image: url('../images/background-light.png');
  margin: 0;
  padding: 0;
}

a {
  color: #cc0000;
  text-decoration: none;
}

.wrapper {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.navigation {
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: url('../images/background-dark.png');
  text-align: center;
}
.navigation .tab {
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: #cccccc;
  font-size: 15px;
}
.navigation .tab.hover {
  color: #ffffff;
  text-shadow: 0 0 3px #cccccc;
}
.navigation .tab.active {
  color: #333333;
  background-image: url('../images/background-light.png');
  cursor: auto;
}
.content-wrapper {
  padding: 10px 20px;
}
.content {
  display: none;
}
.content.active {
  display: block;
}
.generate-options {
  float: left;
}
.wordlist-description {
  color: #666666;
  font-style: italic;
  font-size: 14px;
  text-align: right;
}

.passphrase-wrapper {
  margin: 20px 0;
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #999999;
  height: 70px;
}
.passphrase {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.memorize-input {
  text-align: center;
  font-size: 20px;
}
.memorize-stats {
  text-align: center;
  margin-bottom: 20px;
}
.memorize-stat {
  display: inline-block;
  margin: 0 20px;
}
.memorize-successes {
  font-weight: bold;
  color: #009900;
}
.memorize-fails {
  font-weight: bold;
  color: #990000;
}

.passphrase-to-memorize, .passphrase-test {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 15px;
  width: 500px;
  background-color: #ffffff;
}
.typo {
  background-color: #ffcccc;
}

.memorize-go {
  text-align: center;
}
.hint {
  height: 20px;
}
.hint-progress-wrapper {
  width: 100%;
  height: 20px;
  background-color: #666666;
  border: 2px solid #666666;
}
.hint-progress {
  width: 0%;
  height: 20px;
  background-color: #66ff66;
}
.hint-show {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  text-align: center;
}

.about-license {
  font-family: sans-serif;
  font-style: italic;
  font-size: 13px;
  color: #666666;
  margin-top: 40px;
}

.buttons {
  text-align: center;
}
.btn {
  display: inline-block;
  cursor: pointer;
  margin: 5px 10px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
